.arrow-button {
    height: 50px;
    width: 50px;
    box-shadow: 5px 5px 0px black;
    background-color: #F25A70;
    cursor: pointer;
    transition: transform 300ms linear;
}

.arrow-button:hover {
    transform: scale(1.125);
}

.arrow-button .content {
    display: none;
}

.arrow-button::before {
    content: '';
    display: block;
    box-sizing: border-box;
    width: 17px;
    height: 17px;
    border: 17px transparent solid;
    border-right: 28px solid white;
    transform: translateX(-15.5px);
}

.arrow-button.-right::before {
    transform: rotate(180deg) translateX(-4.5px);
}