.main-carousel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 0px 90px;
    position: relative;
    overflow: hidden;
}

.main-carousel::before {
    box-sizing: border-box;
    content: '';
    height: 0px;
    width: 94%;
    border: 2px solid black;
    position: absolute;
    top: 25px;
    right: 39.5px;
}

.main-carousel::after {
    box-sizing: border-box;
    content: '';
    height: 0px;
    width: 100%;
    border: 2px dashed black;
    position: absolute;
    top: 25px;
    left: 0px;
}

.main-carousel .arrow-button {
    position: absolute;
    bottom: 60px;
}

.main-carousel .arrow-button.-right {
    right: 15px;
}

.main-carousel .arrow-button.-left {
    left: 15px;
}

.main-carousel .wrapper {
    width: 100%;
    overflow: hidden;
}

.main-carousel .items {
    display: flex;
    justify-content: space-between;
    transition: transform 750ms ease-in-out;
}