.main-skill {
    display: inline-flex;
    align-items: center;
}

.main-skill:nth-child(odd) {
    margin-right: 100px;
}

.main-skill .langIcon {
    margin-right: 25px;
    margin-bottom: 38px;
}

.main-skill .wrapper {
    align-self: flex-start;
}

.main-skill .title {
    font-size: 25px;
    color: white;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 16px;
}

.main-skill .progress {
    -webkit-appearance: none;
    height: 40px;
    width: 320px;
}

::-webkit-progress-inner-element {
    border: 5px solid black;
}

::-webkit-progress-bar {
    background-color: white;
}

::-webkit-progress-value {
    background-color: #7C5E99;
}