.main-section {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #F25A70;
    padding-top: 50px;
    border-bottom: 10px solid #7C5E99;
}

.main-section.-bgBlack {
    background-color: black;
}

.main-section.-bdPink {
    border-color: #F25A70;
}

.main-section.-bgPurple {
    background-color: #7C5E99;
}

.main-section.-bdBlack {
    border-color: black;
}

.main-section.-skillSectionHeight {
    height: 700px;
}

.main-section.-projectHeight {
    height: 470px;
}