.main-section {
    display: flex;
    flex-direction: column;
    background-color: #F25A70;
    padding-top: 50px;
    height: 700px;
    border-bottom: 10px solid #7C5E99;
}

.main-section .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 60px;
}